# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.venv/
venv/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Env / secrets
.env
*.pem
kubeconfig*

# OS / editor
.DS_Store
.idea/
.vscode/
